* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    text-align: center;
}
.bg-1 {
    background: url('/img/bg-1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-2 {
    background: url('/img/bg-2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-3 {
    background: url('/img/bg-3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-4 {
    background: url('/img/bg-4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-5 {
    background: url('/img/bg-5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-pic {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/img/pogodable_logo_New.png") no-repeat;
    width: 500px;
    height: 124px;
}
.question-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

.question {
    padding-top: 25%;
    font-size: 20px;
}
.question.topped {
    padding-top: 15%;
}

.question > div,
.question > select,
.question > button {
    margin-top: 20px;
}

.question .prompt {
    position: relative;
    display: inline-block;
    top: 5px;
}

.question select {
    margin-left: 10px;
    font-size: 20px;
    height: 41px;
}
.question button {
    margin-left: 10px;
    position: relative;
    bottom: 5px;
}
.question .activity {
    width: 140px;
}
.question .day {
    width: 185px;
}
.question .timeOfDay {
    width: 120px;
}

.answer-wrapper {
    margin-left:auto;
    margin-right: auto;
    display:none;
}
.answer {
    display: inline-block;
    max-width: 600px;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.7em;
    line-height: 1.3em;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
}
.answer img {
    width: 60px;
    height: 60px;
}
.answer span.degrees {
    margin-left: 15px;
}
.answer div {
    position: relative;
    top: 4px;
    margin-left: 10px;
}

.social-wrapper, .push {
    height: 50px; /* .push must be the same height as .footer */
}

.social-wrapper {
    width: 100%;
    text-align: center;
}

.social {
    display: inline-block;
}
.social div {
    display: inline-block;
}
.social .twitter-tweet {
    margin-left: 30px;
}
.social .g-plusone {
    width: 100px;
}

@media only screen
    and (max-width : 700px) {

    .bg-pic {
        display: none;
    }

    .social-wrapper {
        display: none;
    }

    .question > div,
    .question > select,
    .question > button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .answer {
        margin-left: 20px;
        margin-right: 20px;
    }

}