body {
    background-image: url("/img/bg.png");
    background-repeat: repeat-x;
    text-align: center;
}
.question-wrapper {
    margin:auto;
    margin-top: 18%;
}

.caption {
    margin-bottom: 5px;
}

.comment {
    font-size: 12px;
    margin-bottom: 15px;
}

.question {
    font-size: 20px;
}

.question > div,
.question > select,
.question > button {
    margin-top: 20px;
}

.question .prompt {
    position: relative;
    display: inline-block;
    top: 5px;
}

.question select {
    margin-left: 10px;
    font-size: 20px;
    height: 41px;
}
.question button {
    margin-left: 10px;
    position: relative;
    bottom: 5px;
}
.question .activity {
    width: 270px;
}
.question .day {
    width: 185px;
}
.question .timeOfDay {
    width: 120px;
}

#retry {
    display: none;
}

/*
.question-asked {
    display:none;
    font-size: 20px;
}
.question-asked .prompt {
    position: relative;
    top: 1px;
}
.question-asked div {
    display: inline-block;
    color: #555555;
    padding: 0 21px;
}
.question-asked button {
    margin-left: 10px;
    position: relative;
    bottom: 5px;
}
.question-asked .activity {
    position: relative;
    width: 242px;
    top: 1px;
}
.question-asked .day {
    position: relative;
    width: 154px;
    top: 1px;
}
.question-asked .timeOfDay {
    position: relative;
    width: 49px;
    top: 1px;
}*/

.answer {
    max-width: 600px;
    padding: 0 20px;
    display: none;
    margin: 50px;
    font-size: 16px;
    text-align: left;
    margin-left:auto;
    margin-right: auto;
}